.icon {
  padding: 3px;
}

:host ::ng-deep {
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    min-width: 113px;
  }
  .p-panelmenu
    .p-panelmenu-header:not(.p-disabled).p-highlight
    .p-panelmenu-header-content {
    border-radius: 15px;
    background-color: #eeeeee;
    border: 1px solid #328be9;
  }

  .p-panelmenu
    .p-panelmenu-header:not(.p-disabled).p-highlight
    .p-panelmenu-header-content {
    color: #007ad9 !important;
  }
  .p-panelmenu-header-content.active {
    //background-color: orange !important;
    border-radius: 15px;
    background-color: #eeeeee;
    border: 1px solid #328be9;
    color: #007ad9 !important;
  }

  .p-panelmenu
    .p-panelmenu-content
    .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
    > .p-menuitem-content {
    color: #333333;
    font-weight: 500;
    background: #f5f3f398 !important;
    border-bottom: 1px solid #328be9;
  }

  .p-panelmenu
    .p-panelmenu-content
    .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background: #f5f3f3ad !important;
  }

  // .p-focus {
  //   span {
  //     color: #5b9ef3; // #32a1ce;
  //     font-weight: 600;
  //   }
  // }
}
